@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .form-label { @apply 
        block
        text-base
        font-semibold
        text-gray-900;
      }
    
    .form-input { @apply 
        block
        min-w-0
        grow
        py-3
        pr-3
        pl-1
        text-gray-900
        placeholder:text-gray-400
        focus:outline-none
        text-base
        border
        rounded-md
        shadow-sm
        focus:ring-1
        focus:border-blue-500;
    }

    .form-input_full { @apply 
        form-input
        w-full
    }

    /* Botón de envío */
    .btn-primary { @apply 
        flex
        min-w-0
        rounded-md
        bg-indigo-600
        px-3
        py-1.5
        text-sm/6
        font-semibold
        text-base
        text-white
        hover:bg-indigo-500
        focus-visible:outline-2
        focus-visible:outline-offset-2
        focus-visible:outline-indigo-600;
    }

    .btn-primary_full { @apply 
        btn-primary
        w-full
        justify-center
    }

    /* Contenedor del símbolo de la moneda */
    .form-label-preline { @apply 
        shrink-0
        text-base
        text-gray-500
        select-none
        sm:text-sm/6;
    }

    /* Título principal */
    .login-title { @apply 
        text-center
        text-3xl
        font-bold
        tracking-tight
        text-gray-900;
    }

    /* Enlaces del formulario */
    .form-link { @apply 
        text-indigo-500
        hover:text-indigo-500;
    }

    /* Texto del pie de formulario */
    .login-footer-text { @apply 
        mt-6
        text-center
        text-sm
        text-gray-500;
    }

    .alert-footer-text { @apply 
        text-sm
        text-red-500;
    }

    .alert-success-text { @apply 
        bg-green-100
        border
        border-green-400
        text-green-700
        px-4
        py-3
        rounded
        relative
        mb-4
        text-center;
    }

    /* ------------- NAVBAR ------------- */

    .navbar { @apply 
        sticky
        top-0
        z-10
        w-full
        bg-white
        border-b
        border-gray-200
    }

    .nav-menu { @apply 
        absolute
        right-0
        z-10
        mt-2
        w-48
        origin-top-right
        rounded-md
        bg-white
        py-1
        ring-1
        shadow-lg
        ring-black/5
        transition
        focus:outline-hidden
        data-closed:scale-95
        data-closed:transform
        data-closed:opacity-0
        data-enter:duration-100
        data-enter:ease-out
        data-leave:duration-75
        data-leave:ease-in
    }

    .nav-menu-item { @apply 
        block
        px-4
        py-2
        text-sm
        text-gray-700
        data-focus:bg-gray-100
        data-focus:outline-hidden
    }

    .sidebar-notification-label { @apply 
        inline-flex
        items-center
        justify-center
        w-3
        h-3
        p-3
        ms-3
        text-sm
        font-medium
        text-blue-800
        bg-blue-100
        rounded-full
    }

    .sidebar-container { @apply 
        fixed
        w-64
        h-screen
        pt-20
        bg-white
        border-r
        border-gray-200
        sm:translate-x-0

        top-0
        left-0        
        z-0
        transition-transform
        -translate-x-full        
    }

    .sidebar { @apply 
        h-full
        px-3
        pb-4
        overflow-y-auto
        bg-white
    }

    .sidebar-item-group { @apply 
        flex
        items-center
        p-2
        text-gray-900
        rounded-lg
        hover:bg-gray-100
        /* group */
    }

    .group-icon { @apply 
        flex
        items-center
        rounded-lg
        text-gray-900
        hover:bg-gray-100
        p-2
        
        w-full
        text-base
        font-normal
        transition
        duration-75
        border
    }

    .sidebar-item-text { @apply 
        flex-1
        ms-3
        whitespace-nowrap
    }

    .sidebar-item-icon { @apply 
        shrink-0
        w-7
        h-7
        text-gray-500
        transition 
        duration-75
        group-hover:text-indigo-600
        border
    }

    .main-container { @apply 
        flex
        flex-col
        sm:ml-64
        p-4
        pt-16
        bg-gray-50
    }



}