@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBAL VARIABLES */
:root {
    --sidebar-width: 7cm;
    --header-height: 2cm;
    --content-width: calc(100vw - var(--sidebar-width));
    --content-height: calc(100vh - var(--header-height));
}
/* ------------------------------------------ */

/* REESTABLECER ELEMENTOS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
h1 {
    font-size: 40px;
    font-weight: bolder;
}
h2 {
    font-size: 20px;
    font-weight: bolder;
}
h3 {
    font-size: 14px;
    font-weight: bolder;
}
#root > div {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    overflow: hidden;
}
/* ------------------------------------------ */

/* CLASES GENERALES */
/* ------------------------------------------ */

/* ENCABEZADO */
.header {
    height: var(--header-height);
    width: 100%;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    padding: 0 1cm;
    transform: width 0.7s ease;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
}
.user-name {
    font-size: 16px;
    font-weight: 500;
}
/* ------------------------------------------ */

/* BARRA DE NAVEGACION */
.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    border-right: 1px solid #eee;
    /* z-index: -1; */
    position: relative;
    transition: all 0.7s ease;
}
.logo {
    text-align: center;
    margin: 1cm;
}
.nav {
    display: flex;
    flex-direction: column;
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 0.3cm 0.6cm;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-item .icon {
margin-right: 10px;
}
.nav-item.active,
.nav-item:hover {
    background-color: #f0f4ff;
    color: #3366ff;
}
.hide-button-section {
    display: flex;
    align-items: center;
    padding-left: 1cm;
    /* background-color: #77d; */
    width: var(--sidebar-width);
    height: 2cm;
}
.hide-sidebar-button {
    padding: 0.3cm 0.6cm;
    position: absolute;
    transition: all 0.3s ease;
}
.hide-sidebar-button:hover {
    background-color: #f0f4ff;
    color: #3366ff;
}
.show-sidebar-button {
    display: none;
    padding: 0.3cm 0.6cm;
}
.show-sidebar-button:hover {
    background-color: #f0f4ff;
    color: #3366ff;
}
/* ------------------------------------------ */

/* CONTENIDO */
.main-content {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.content {
    width: 100%;
    background-color: #efefef;
    height: var(--content-height);
    overflow-y: scroll;

    padding: 1cm;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ------------------------------------------ */

/* PÁGINA DE PERFIL */
.user-profile-picture {
    position: relative;
    width: 4cm;
    height: 4cm;
}
.user-profile-picture img {
    width: 4cm;
    height: 4cm;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
    transition: opacity 0.5s ease;
}
.user-profile-picture:hover img {
    opacity: 1;
}
.user-profile-picture:hover .hover-text {
    opacity: 0.5;
}
.user-profile-picture #file-upload {
    display: none;
}
.hover-text {
    transition: opacity 0.5s ease;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 0.5cm;
    width: 4cm;
    height: 4cm;
    border-radius: 50%;
}
/* ------------------------------------------ */

/* PÁGINA DE HISTORIAL CLINICO */
.step-form-buttons{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.prev-button{
    display: none;
    border-radius: 5px;
    border-color: #333;
    border-width: 1px;
    padding: 0.2cm 0.3cm;
    transition: all 0.3s ease;
}
.prev-button:hover{
    background-color: #555;
    color: white;
}
.next-button{
    border-radius: 5px;
    border-color: #333;
    border-width: 1px;
    padding: 0.2cm 0.3cm;
    transition: all 0.3s ease;
}
.next-button:hover{
    background-color: #555;
    color: white;
}
/* ------------------------------------------ */

/* BOTON EDITAR */
.boton-editar {
    background-color: #77d;
    height: 1cm;
    width: max-content;
    text-align: center;
    padding: 0.2cm 0.3cm 0 0.3cm;
    border-radius: 0.2cm;
    color: white;
    font-size: 0.4cm;
}
.boton-editar:hover {
    background-color: #66c;
    color: white;
}
/* ------------------------------------------ */

/* BOTON HISTORIAL CLINICO */
.boton-historial-clinico{
    background-color: #77d;
    height: 1cm;
    width: max-content;
    text-align: center;
    padding: 0.2cm 0.3cm 0 0.3cm;
    border-radius: 0.2cm;
    color: white;
    font-size: 0.4cm;
}
.boton-historial-clinico:hover{
    background-color: #66c;
    color: white;
}
/* ------------------------------------------ */





/* PROFILE PAGE */
.profile-page input{
    border-style: solid;
}
/* ------------------------------------------ */