<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Project</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/create_student/" method="post">
            <label for="name">Nombre: </label><br>
            <input name="name" id="name" type="text" required><br>
            <label for="pat_last_name">Apellido paterno: </label><br>
            <input name="pat_last_name" id="pat_last_name" type="text" required><br>
            <label for="mat_last_name">Apellido materno: </label><br>
            <input name="mat_last_name" id="mat_last_name" type="text" required><br>
            <label for="file_number">Expediente: </label><br>
            <input name="file_number" id="file_number" type="number" required><br>
            <label for="email">Correo electr&oacute;nico: </label><br>
            <input name="email" id="email" type="email" required><br>
            <label for="conf_email">Confirmar correo electr&oacute;nico: </label><br>
            <input name="conf_email" id="conf_email" type="email" required><br>
            <label for="password">Contrase&ntilde;a: </label><br>
            <input name="password" id="password" type="password" required><br>
            <label for="conf_password">Confirmar contrase&ntilde;a: </label><br>
            <input name="conf_password" id="conf_password" type="password" required><br>
            <button>Crear cuenta</button>
        </form>
        <button onclick="myFunction()">Fill out</button>
        
        <script>
        function getRandomNumber(words) {
            return Math.floor(Math.random() * words.length);
        }
        function myFunction() {
            const fruits = ["apple", "banana", "cherry", "pear", "soursop", "orange", "grape"];
            const suffixes = ["son", "er", "an", "en", "ach", "ini", "elli", "mann", "ink", "wicz", "ov", "in"]
            const latin = ["lumen", "aurum", "vita", "nox", "lupus", "pax", "nidus", "aqua", "victus"]

            let name = fruits[getRandomNumber(fruits)];
            let pat_last_name = fruits[getRandomNumber(fruits)] + suffixes[getRandomNumber(suffixes)];
            let mat_last_name = latin[getRandomNumber(latin)];

            document.getElementById('name').value = name
            document.getElementById('pat_last_name').value = pat_last_name
            document.getElementById('mat_last_name').value = mat_last_name;
            document.getElementById('file_number').value = Math.floor(Math.random() * 900000000) + 100000000;;
            document.getElementById('email').value = name + pat_last_name + "@example.com";
            document.getElementById('conf_email').value = name + pat_last_name + "@example.com";
        }
        </script>
    </body>
</html>